body{
    margin:0;
    padding:0;
}
.container{
    display:flex;
}
.left{
    display:flex;
    flex:1;
    background:pink;
    height:100vh;
}

.right{
    display:flex;
    flex:1;
    background:skyblue;
    height:100vh;
}