*{
    padding:0;
    margin:0;
}
body{
    margin:0;
    padding:0;
}
.container{
    display:flex;
}
.left{
    display:flex;
    flex:1;
    background:pink;
    height:100vh;
   /* justify-content: center;*/
    flex-direction: column;
}

.right{
    display:flex;
    flex:1;
    background:skyblue;
    height:100vh;
    flex-direction: column;
}
/*.profile-img{
    background:palevioletred;
    background-size: cover;
    border: slategrey;
    border-radius: 80px;
    height: 70vh;
    width: 70%;
    overflow: hidden;
    position: relative;
    top:-20%;
    margin:0;
    padding:0;
}*/
.personal-info{
    background:yellowgreen;
    width:70%;
    height:80vh;
    margin-right:auto;
    margin-left:auto;
}
ul li{
    list-style: none;
    margin-left:20px;
    margin-bottom:20px;
}

#icon{
    width:20px;
    height:20px;
    float:left;
    padding-left:20px;
}